@media (min-width: 992px) {
  a, p, h1, h2, h3, h4, h5, h6, li, ul {
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
}

a {
}

  
/* .btn-circle.btn-sm { 
  width: 40px; 
  height: 40px; 
  padding: 2px 0px; 
  border-radius: 25px; 
  font-size: 14px; 
  text-align: center;              
  margin: 8px;
} */